
body{background-color:whitesmoke;
    
}
.myH1{
    text-align:center; 
    background-color:mintcream;
}

.myH2{
    font-size:30px; 
    border-style: inset;
    border-width:5px;
    margin-right:400px;
    margin-left:400px;
    background-color:ghostwhite;
}
.myH3{
    font-size:30px; 
    border-style: inset;
    border-width:5px;
    margin-right:400px;
    margin-left:400px;
    background-color:ghostwhite;
}
.myH4{
    font-size:30px;
    border-style: inset;
    border-width:5px;
    margin-right:400px;
    margin-left:400px;
    background-color:ghostwhite;
}
.myH5{
    font-size:30px; 
    border-style: inset; 
    border-width:5px;
    margin-right:400px;
    margin-left:400px;
    background-color:ghostwhite;
}
.input1 {
   position:absolute;
    top: 34%;
    left: 47%;
}
.input2 {
  position:absolute;
    top: 115%;
    left: 47%;
}
p {
  font-size:18px;
}
label {
  font-size:18px;
}
.wrapper {
    display:none;
}
.getHashsecond{
    text-align:center; 
    top:25%;
    right: 37%;
}
.checkRegister{
    text-align:center; 
    top:25%;
    right:30%;
}

nav.navbar.navbar-inverse{
    background-color: #660000; !important
}

.navbar-inverse .navbar-nav>li>a {
    color: #f4aa00 !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #95774c !important;
}

.navbar-inverse .navbar-brand {
    color: #fff !important;
}
